<!DOCTYPE html>
<html ng-app="pz">
<head>
    <title>Patternz</title>
</head>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<body ng-controller="PatternzCtrl as pz">

    <h1>{{data.title}}</h1>

    <nav class="pz-nav">
        <ul>
            <li ng-repeat="(key, data) in tree track by $index">
                {{key}}
                <ul>
                    <li ng-repeat="(key, data) in tree[key] track by $index">
                        <a ng-href="#{{key}}">{{key}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="main" ng-view></div>

    <script type="text/javascript" src="../bower_components/underscore/underscore-min.js" ></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js" ></script>
    <script type="text/javascript" src="../bower_components/angular-route/angular-route.min.js" ></script>
    <script type="text/javascript" src="../js/main.js" ></script>
    <script type="text/javascript" src="js/patternz.js" ></script>
</body>
</html>

