<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Patternz</title>
</head>
<link rel="stylesheet" type="text/css" href="css/main.css">
<body ng-controller="AppCtrl as app">

    <h1>{{data.title}}</h1>

    <ng-include src="'patterns/2.elements/buttons/btn_primary.html'" ng-repeat="text in ['Primary Button'] "></ng-include>

    <ng-include src="'patterns/2.elements/buttons/btn_secondary.html'" ng-repeat="opt in [{text: 'Secondary button', id: 'foo'}] "></ng-include>

    <script type="text/javascript" src="bower_components/underscore/underscore-min.js" ></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js" ></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js" ></script>
    <script type="text/javascript" src="js/main.js" ></script>
</body>
</html>

